body {
  margin: 0;
}

.main {
  background-color: green;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .display {
  background-color: aqua;
} */

.ten-cards {
  /* background-color: bisque; */
  display: grid;
  justify-content: space-around;
  gap: 1em;
  padding: 32vh 28vw;
}

.dealer {
  /* background-color: red; */
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  gap: 1em;
}

.player {
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  gap: 1em;
}

.player > div {
  background-color: white;
  height: 128px;
  width: 70px;
}

.card {
  height: 90px;
  gap: 1em;
}

.dealer > div {
  background-color: black;
  height: 128px;
  width: 70px;
}

#card1 > img {
  background-color: white;
  width: 100%;
  height: 100%;
}

#card6 {
  background-color: yellow;
}

#card7 {
  background-color: orange;
}

.two-inputs {
  display: flex;
  justify-content: space-evenly;
}

.btn-controls {
  /* background-color: blue; */
  padding: 30px;
  text-align: center;
}

.text-ui {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .main {
    height: 50vh;
  }
} */
